
    Application {
        backgroundColor: #cccccc;
        themeColor: #666666;
        color: #666666;
    }

    ApplicationControlBar {
        cornerRadius: 0;
        shadowDistance: 2;
        shadowDirection: "bottom";

    }

    Label {
    }

    Button {
    }
